* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

header {
  padding-bottom: 15%;
}

nav {
  width: 100%;
}

.header-flex {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.logo-img {
  margin: 25% 20%;
}

.toggle-on {
  background: transparent;
  border-width: 0;
}

.toggle-off {
  background: transparent;
  border-width: 0;
}

.open-icon, .close-icon {
  cursor: pointer;
}

.menu-container {
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: hsla(229, 40%, 18%, 0.9);
  z-index: 4;
}

.toggle-on-cont {
  position: absolute;
  right: 8%;
  top: 10%;
}

.toggle-off-cont {
  z-index: 100;
  position: absolute;
  right: 8%;
  top: 10%;
  visibility: hidden;
}

.logo-img-menu {
  margin: 10% 8%;
}

.header-links {
  text-align: center;
}

.header-links li{
  padding: 6% 0;
  border-top: 1px solid hsla(229, 8%, 60%, 0.5);
  width: 85%;
  margin: 0 auto;
  list-style: none;
}

.header-links a {
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.9);
  letter-spacing: 0.1rem;
  text-decoration: none;
  font-size: 1.2rem;
}

.login-link {
  border: 3px solid hsl(0, 0%, 100%);
  padding: 2% 40%;
  border-radius: 0.5rem;
}

.header-socials {
  text-align: center;
  padding: 40% 0 10% 0;
}

.header-socials li {
  display: inline;
  padding: 0 4%;
}

.header-socials a {
  text-decoration: none;
}

.press {
  visibility: visible;
}

.press2 {
  visibility: visible;
}

.press3 {
  visibility: hidden;
}

.intro-img-cont {
  width: 90%;
  margin: 5% auto 0 auto;
  z-index: 1;
  position: relative;
}

.intro-img-cont:before {
  content: "";
  position: absolute;
  background-color: hsl(231, 69%, 60%);
  border-radius: 70% 0 0 70% / 100%;
  width: 90%;
  right: -5%;
  bottom: 0;
  height: 80%;
  z-index: -1;
}

.intro-img {
  width: 100%;
  display: block;
}

.header-text {
  padding-top: 10%;
}

h1 {
  width: 85%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.9rem;
  font-weight: 500;
  padding-bottom: 5%;
  color: hsl(229, 31%, 21%);
}

.header-p {
  color: hsl(229, 8%, 60%);
  width: 85%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5rem;
  padding-bottom: 5%;
}

.header-btn-cont {
  text-align: center;
  width: 100%;
  padding-bottom: 10%;
}

.chrome-btn {
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 98%);
  padding: 4% 5%;
  margin: 0 1%;
  border-radius: 0.4rem;
  border-width: 0;
  font-weight: 500;
  box-shadow: 0px 5px 10px hsl(229, 8%, 80%);
  cursor: pointer;
}

.firefox-btn {
  background-color: hsl(0, 0%, 95%);
  color: hsl(229, 31%, 21%);
  padding: 4% 5%;
  margin: 0 1%;
  border-radius: 0.4rem;
  border-width: 0;
  font-weight: 500;
  box-shadow: 0px 5px 10px hsl(229, 8%, 80%);
  cursor: pointer;
}

.more-info-btn {
  display: none;
}

.features-section {
  padding-bottom: 25%;
}

.features-h2 {
  text-align: center;
  font-weight: 500;
  padding-bottom: 5%;
  color: hsl(229, 31%, 21%);
}

.features-p {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  color: hsl(229, 8%, 60%);
  padding-bottom: 10%;
}

#feature-btn-cont {
  text-align: center;
}

#simple-btn, #speedy-btn, #easy-btn {
  text-align: center;
  color: hsl(229, 8%, 50%);
  padding: 5% 0;
  width: 85%;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  border-width: 0;
  border-top: 1px solid hsl(229, 8%, 90%);
  background: transparent;
}

#simple-btn:before {
  border-bottom: 4px solid hsl(0, 94%, 66%);
  content: "";
  position: absolute;
  bottom: 0;
  right: 30%;
  width: 40%;
  visibility: visible;
}

#speedy-btn:before, #easy-btn:before {
  border-bottom: 3px solid hsl(0, 94%, 66%);
  content: "";
  position: absolute;
  bottom: 0;
  right: 30%;
  width: 40%;
  visibility: hidden;
}

#easy-btn {
  border-bottom: 1px solid hsl(229, 8%, 90%);
}

#bookmark-div {
  display: block;
}

.select-1 {
  display: none;
}

#intelligent-div {
  display: none;
}

#share-div {
  display: none;
}

.tab-1-img, .tab-2-img, .tab-3-img {
  width: 90%;
  display: block;
  margin: 0 auto;
}

#tab-1-img-cont, .tab-2-img-cont, .tab-3-img-cont {
  z-index: 1;
  position: relative;
  width: 90%;
  margin: 10% auto;
}

#tab-1-img-cont:before, .tab-2-img-cont:before, .tab-3-img-cont:before {
  content: "";
  position: absolute;
  background-color: hsl(231, 69%, 60%);
  border-radius: 0 70% 70% 0% / 100%;
  width: 90%;
  left: -5%;
  bottom: -10%;
  height: 80%;
  z-index: -1;
}

#tab-1-img-cont:before {
  bottom: -18%;
}

.bookmark-h2 {
  padding-top: 5%;
}

.bookmark-h2, .intelligent-h2, .share-h2 {
  text-align: center;
  color: hsl(229, 31%, 21%);
  width: 70%;
  margin: 0 auto;
  font-weight: 500;
  padding-bottom: 5%;
}

.bookmark-p, .intelligent-p, .share-p {
  text-align: center;
  color: hsl(229, 8%, 60%);
  width: 85%;
  margin: 0 auto;
  line-height: 1.5rem;
}

.extension-section {
  width: 100%;
}

.extension-h2, .faq-h2 {
  text-align: center;
  color: hsl(229, 31%, 21%);
  width: 80%;
  margin: 0 auto;
  font-weight: 500;
  padding-bottom: 5%;
}

.extension-p, .faq-p {
  text-align: center;
  color: hsl(229, 8%, 60%);
  width: 85%;
  margin: 0 auto;
  line-height: 1.5rem;
  padding-bottom: 6%;
}

.extension-logos {
  display: block;
  margin: 10% auto 0 auto;
}

.google-div, .firefox-div, .opera-div {
  width: 75%;
  margin: 0 auto 10% auto;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 10px hsl(229, 8%, 90%);
  border-radius: 1rem;
  padding: 6% 0;
}

.add-para {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  padding-top: 12%;
}

.version-para {
  color: hsl(229, 8%, 60%);
  text-align: center;
  padding: 4% 0;
  font-weight: 400;
  font-size: 0.9rem;
}

.dots-img {
  width: 100%;
  display: block;
  margin: 7% 0;
}

.install-btn-cont {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.install-btn-cont button {
  background-color: hsl(231, 69%, 60%);
  color: hsl(0, 0%, 90%);
  padding: 6% 15%;
  margin: 0 1%;
  border-radius: 0.4rem;
  border-width: 0;
  font-weight: 500;
  box-shadow: 0px 5px 10px hsl(229, 8%, 80%);
  cursor: pointer;
  font-size: 0.9rem;
}

.extension-section {
  padding-bottom: 22%;
}

.faq-btn-cont {
  text-align: left;
  width: 85%;
  margin: 0 auto;
}

.faq-btn-1, .faq-btn-2, .faq-btn-3, .faq-btn-4 {
  border-bottom: 1px solid hsl(229, 8%, 80%);
} 

.faq-btn-cont button {
  width: 100%;
  text-align: left;
  background: transparent;
  border-width: 0;
  cursor: pointer;
  color: hsla(229, 8%, 10%, 0.8);
  font-weight: 500;
  font-size: 0.9rem;
  padding: 7% 0;
  display: flex;
}

.faq-btn-cont p {
  color: hsl(229, 8%, 50%);
  font-size: 0.9rem;
  display: none;
}

#close-arrow {
  transform: rotate(180deg);
  position: absolute;
  right: 10%;
  display: none;
}

#open-arrow1, #open-arrow2, #open-arrow3, #open-arrow4 {
  display: block;
  position: absolute;
  right: 10%;
  transition: 0.3s all ease-in-out;
}

#faq-answer1 {
  line-height: 1.6rem;
}

#faq-answer2 {
  line-height: 1.6rem;
}

#faq-answer3 {
  line-height: 1.6rem;
}

#faq-answer4 {
  line-height: 1.6rem;
}

.info-btn {
  width: 30%;
  text-align: center;
  margin: 5% auto;
}

.info-btn button {
  width: 100%;
  background-color: hsl(231, 69%, 60%);
  border-width: 0;
  border-radius: 0.4rem;
  padding: 12% 10%;
  color: hsl(0, 0%, 98%);
  font-weight: 500;
}

.attribution { 
  font-size: 11px; text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}